body {
  background-color: #030f2a;
  box-sizing: border-box;
}

#title {
  color: antiquewhite;
  text-align: center;
  font-family: "Lucida Console";
  font-size: large;
  padding-top: 10px;
  padding-left: 5px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 200px;
  margin-top: 15px;
  margin-bottom: 10px;
}
input {
  all: unset;
  width: 200px;
  height: 25px;
  border-radius: 10px;
  background-color: #0b1c43;
  padding: 3px 2px 4px 5px;
  color: antiquewhite;
  text-transform: lowercase;
}
.mv {
  width: 250px;
  height: 350px;
  padding: 25px 25px 0px 25px;
  border-radius: 50px;
}

img + p {
  color: antiquewhite;
  text-align: center;
  padding-bottom: 10px;
  font-family: "Lucida Console";
}
a {
  all: unset;
  color: antiquewhite;
  text-align: center;
  padding-bottom: 10px;
  font-family: "Lucida Console";
}

#card {
  background-color: #0d1f4a;
  width: fit-content;
  border-radius: 50px;
  margin: 8px;
}
#outer {
  display: flex;
  width: 1400px;
  flex-wrap: wrap;
  justify-content: center;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: azure;
}
#card:hover {
  background-color: #17316b;
}
